<section id="pagination" class="clearfix">
<div id="pagination1" class="pagination <%= "hidden" unless @activeQuestionOnLoad <= @qpt %>">
  <ul>
  <% @testlet1.each_with_index do |question, index| %>
	<li>
		<span id="page<%= index+1 %>" class="page">
		<a class="<%= "single_digit " if index < 9 %><%= question.addQuestionColoring %>" href="<%= "?question=#{index+1}" %>" data-remote="true"><%= index+1 %></a></span>
	</li>
	<% end %>	
	</ul>
</div>
<div id="pagination2" class="pagination <%= "hidden" unless @activeQuestionOnLoad.between?(@qpt+1, @qpt*2) %>">
	<ul>
	<% @testlet2.each_with_index do |question, index| %>
	<% i = @qpt + index + 1 %>
	<li>
		<span id="page<%= i %>" class="page">
		<a class="<%= question.addQuestionColoring %>" href="<%= "?question=#{i}" %>" data-remote="true"><%= i %></a></span>
	</li>
	<% end %>	
	</ul>
</div>
<div id="pagination3" class="pagination <%= "hidden" unless @activeQuestionOnLoad > @qpt*2 %>">
	<ul>
	<% @testlet3.each_with_index do |question, index| %>
	<% i = (@qpt * 2) + index + 1 %>
	<li>
		<span id="page<%= i %>" class="page">
		<a class="<%= question.addQuestionColoring %>" href="<%= "?question=#{i}" %>" data-remote="true"><%= i %></a></span>
	</li>
	<% end %>	
	</ul>
</div>
</section> <!-- pagination -->