<div id="rightSidebar">
	
	<div id="questionInfo">
		<h1>Question <span class='questionNumber'><%= @activeQuestionOnLoad %></span></h1>
		<h3 class="alert alert-info"><span class='topicName'><%= @user_test.questions[@activeQuestionOnLoad-1].topic.name %></span></h3>
		<h4><span class="questionSource hidden"><%= @user_test.questions[@activeQuestionOnLoad-1].source %></span></h4>
		<!-- <h4><span class='subTopicName'>None</span></h4> -->
	</div> <!-- questionInfo -->
	
	<table id="runningScore">
		<tr><th>Correct</th><th>Incorrect</th></tr>
		<tr><td class="correctArea"><span class="correctAnswers"><%= @correct_answers %></span></td><td class="wrongArea"><span class="wrongAnswers"><%= @wrong_answers %></span></td></tr>
	</table><!-- runningScore -->	

	<div id="timer">	
		<h2><span class="timer"></span></h2>
	</div> <!-- timer -->
</div>	<!-- rightSidebar -->