<div id="testSummary" class="well well-small">
<h2>Test Summary (<%= @utq.first.section.code %>)</h2>
<h2>Score: <%= @score %></h2>	
</div>

<ol>
<% @utq.each do |utq| %>
	<div class="questionSummary">
	<li class="alert <%= utq.answered_correct? ? "alert-success" : "alert-error"; %>"><%= raw utq.question.question_text %></li>
	<ol class="answers">
		<% utq.question.answers.each do |choice| %>
			<li class="<%= choice.correct? ? "correctChoice" : "" %>"><span><%= choice.answer_text %></span></li>
		<% end %>
	</ol>
	</div>
<% end %>	
</ol>