<style>

/* DIV Layout
===================== */
.container {
	width: 1200px;
}

#contentArea {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#questionBox {
	height: 500px;
	width: 900px;
	float: left;
	box-sizing: border-box;
	border: 1px solid black;
}

#rightSidebar {
	width: 200px;
	float: right;
}

/* Question Formatting 
===================== */

.clearfix {
	clear: both;
}

#questionBox p, #questionBox li {
	font-size: 16px;
	padding: 3px;
}

#questionBox li {
	margin-left: 10px;
}

ol.choices {
	list-style-type: upper-alpha;
}

.choices a:hover {
	text-decoration: none;
}

.page a {
	line-height: 15px;
	padding: 10px;
}

.page a.single_digit {
	padding: 10px 14px;
}
</style>

<script>
// Set the countdown timer
$(function() {
	var sec = $("#timer span").text();
	var timer = setInterval(function() {
		$("#timer span").text(--sec);
		if(sec == 0) {
			clearInterval(timer);
		}
	}, 1000);
});

// AJAX
$(function() {
	$(".page a").click(function() {
	$.getJSON(window.location.href + $(this).attr("href"), 
			  function(data){
		      	$(".choices").html("");
			  	$("#questionText span").text(data.question_text);
			    $(".questionSource").text(data.source);
				$(".topicName").text(data.topic.name);
			  
				$.each(data.answers, function(index,item){
			  		htmlString = "<li><input type='radio' name='answer'><a>" + item.answer_text + "</a></input></li>";
					$(".choices").append(htmlString);
				});
	}, 
 	          function(){});
	});
});
</script>

<div id="contentArea">
	
	<section id="questionContent">
		
		<div id="questionBox">
			<div id="questionText">
				<p><span><%= @user_test.questions[0].question_text %></span></p>
				<hr />
			</div> <!-- questionText -->
			<div id="answers">
				<ol class="choices">
				<% @user_test.questions[0].answers.each do |choice| %>
				<li><input type="radio" name="answer"><a><%= choice.answer_text %></a></input></li>
				<% end %>
				</ol>
				<hr />
				<%= submit_tag 'Submit' %>
			</div> <!-- choices -->		
		</div> <!-- questionBox -->
		
		<div id="rightSidebar">
			
			<div id="questionInfo">
				<h1>Testlet 1</h2><br />
				<h2>Question <span class='questionNumber'>1</span></h2><br />
				<h3>Topic: <span class='topicName'><%= @user_test.questions[0].topic.name %></span></h3>
				<h3>SubTopic: <span class='subTopicName'>None</span></h3><br />
				<h3>Source: <span class="questionSource"><%= @user_test.questions[0].source %></span></h3>
			</div> <!-- questionInfo -->
			
			<div id="timer">	
				<h2>Timer</h2>
				<h3><span>10800</span></h3>
			</div> <!-- timer -->
			
			<div id="runningScore">
				<h3>Correct: 0</h3>
				<h3>Incorrect: 0</h3>
			</div> <!-- runningScore -->
		</div>	<!-- rightSidebar -->
			
	</section> <!-- questionContent -->
	
	<section id="pagination" class="clearfix">
	<nav class="pagination">
		<% @testlet.each_with_index do |page, index| %>
		<span class="page"><a <%= "class='single_digit'" if index < 9 %> href=<%= "?question=#{index + 1}" %> data-remote="true"><%= index+1 %></a></span>
		<% end %>	
	</nav>		
	</section> <!-- pagination -->			
	
</div>	