<style>

/* DIV Layout
===================== */
.container {
	width: 1200px;
}

#contentArea {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#questionBox {
	height: 500px;
	width: 800px;
	float: left;
	box-sizing: border-box;
}

#rightSidebar {
	width: 320px;
	float: right;
}

/* PAGINATION
===================== */
#pagination2, #pagination3 {
	display: none;
}

.pagination a {
	padding: 0px 10px;
}

.pagination a.single_digit {
	padding: 0px 12px;
}

a.answered {
	background-color: #444;
}

a.answered:hover {
	background-color: #444;
}

.currentQuestion {
	font-weight: bold;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #fefcea 22%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefcea 22%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefcea 22%,#f1da36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefcea 22%,#f1da36 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefcea 22%,#f1da36 100%); /* W3C */
}

/*x PAGINATION x*/

/* Question Formatting 
===================== */

.clearfix {
	clear: both;
}

#questionBox p, #questionBox li {
	font-size: 16px;
	padding: 3px;
}

#questionBox li {
	margin-left: 10px;
}

ol.choices {
	list-style-type: upper-alpha;
}

.choices a:hover {
	text-decoration: none;
}

label {
	display: inline;
	cursor: pointer;
}

#questionText p {
	padding: 10px;
}

#answers a {
	padding-left: 6px;
	cursor: pointer;
}
/*x Question Formatting x*/

/* RIGHT SIDEBAR
===================== */

.questionSource, .subTopicName {
	padding-left: 50px;
}

#runningScore {
	width: 75%;
}

#runningScore th {
	font-size: 20px;
}

#runningScore td {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.correctAnswers {
	color: green;
}

.wrongAnswers {
	color: red;
}

.submit {
	margin-left: 12px;
}

#timer {
	width: 60%;
	margin: 0 auto;
}

.timer {
	font-size: 30px;
}
/*x Right Sidebar x*/

</style>

<script>
// There should really be a function that I run that figures out what should be the current question in everny situation. Then I can just call that function when applicable. I'm too tired to write it now though, so I think I'm going to put that off.

// Global Variables
	// count correct answers and wrong answers, decide which testlet is the current testlet based on that
var correctAnswers = <%= @correct_answers %>;
var wrongAnswers = <%= @wrong_answers %>;
<% if @correct_answers+@wrong_answers < @user_test.section.questions_per_testlet %>
var testlet = 1;
<% elsif @correct_answers+@wrong_answers < (@user_test.section.questions_per_testlet * 2) %>
var testlet = 2;
<% else %>
var testlet = 3;
<% end  %>

// Figures out the current question on pageload
alert("<%= @activeQuestionOnLoad %>");

// Takes an integer of seconds and returns a string of h:mm:ss
function seconds2time(seconds) {
    var hours   = Math.floor(seconds / 3600);
    var minutes = Math.floor((seconds - (hours * 3600)) / 60);
    var seconds = seconds - (hours * 3600) - (minutes * 60);
    var time = "";

    if (hours != 0) {
      time = hours+":";
    }
    if (minutes != 0 || time !== "") {
      minutes = (minutes < 10 && time !== "") ? "0"+minutes : String(minutes);
      time += minutes+":";
    }
    if (time === "") {
      time = seconds+"s";
    }
    else {
      time += (seconds < 10) ? "0"+seconds : String(seconds);
    }
    return time;
}

// gets the JSON data for the questionNumber and modifies the DOM accordingly
function getQuestionJSON(questionNumber){
	$("#pagination a").removeClass("currentQuestion");
	$("#page"+questionNumber+" a").addClass("currentQuestion");
	$("#answers form").attr("action", "/user_test/" + questionNumber);
	$.getJSON(window.location.href + $("#page"+questionNumber+" a").attr("href"), 
			  function(data){
		      	$(".choices").html("");
			  	$("#questionText span").text(data.question.question_text);
			    $(".questionSource").text(data.question.source);
				$(".topicName").text(data.question.topic.name);
				$(".questionNumber").text(questionNumber);
							  
				$.each(data.question.answers, function(index,item){
					var value = item.correct? "correct" : "wrong";
			  		htmlString = "<li><input type='radio' id='choice"+(index+1)+"' name='answer' value='" + value + "' /><a><label for='choice"+(index+1)+"'>"+item.answer_text+"</label></a></li>";
					$(".choices").append(htmlString);
				}); // each
	}); // getJSON
}

// logs the time_remaining through a get request to /user_test/?time_remaining=
function dbTimeRemaining() {
	var time = $("#timer .timer").text();
	var hours = parseInt(time.match(/\d:/)[0].replace(":", ""));
	var minutes = parseInt(time.match(/:\d+:/)[0].replace(":", "").replace(":", ""));
	var seconds = parseInt(time.match(/\d+$/)[0]);
	var time_remaining = (hours * 3600) + (minutes * 60) + (seconds);
	$.get(window.location.href + "?time_remaining=" + time_remaining);
}

// db the time remaining every 5 minutes and on the unload event 
setInterval(dbTimeRemaining, 300000);
window.onbeforeunload = dbTimeRemaining;

// Set the Modal handlers
$(function() {
	// Modal the test greeting
	$("#beginTest").modal();
	
	// Go to the next testlet after hiding the endTestlet modal	
	$("#endTestlet").on("hide", function() {
		$("#pagination"+testlet).hide();
		$("#pagination"+(testlet+1)).show();
		testlet++;
		
		// Prepare the next question		
		var questionNumber = (testlet-1) * <%= @testlet1.length %> + 1
		getQuestionJSON(questionNumber);
		
	}); // on
	
	// Set the countdown timer
	$("#beginTest").on("hide", function() {
		var sec = <%= @user_test.time_remaining %>;
		var timer = setInterval(function() {
			$("#timer .timer").text(seconds2time(--sec));
			if(sec == 0) {
				clearInterval(timer);
			}
		}, 1000); // setInterval
	}); // on
}); // load

// AJAX Change Question on Pagination Click
$(function() {
	$(".page a").click(function() {
		if($(this).hasClass('answered') == false) {
	var questionNumber = $(this).attr("href").replace(/.*=/, "");
	getQuestionJSON(questionNumber);
		} // if
	}); // click
}); // load

// AJAX Handle Submit
$(function() {
	$("#answers .submit").click(function() {
		if($('input:radio[name=answer]:checked').length > 0) {
		var questionNumber = parseInt($(".questionNumber").text());
		
		// See if the answer was correct, add points accordingly
		if ($("#page"+questionNumber+" a").hasClass('answered') == false) {
			var answer = $('input:radio[name=answer]:checked').val();
			answer == "correct" ? correctAnswers++ : wrongAnswers++;
			$(".correctAnswers").text(correctAnswers); $(".wrongAnswers").text(wrongAnswers);		
		} // if
				
			// Go to the next unanswered question
			if ($(".answered").length + 1 < <%= @testlet1.length %>) {
				var nextQuestion;
				var curInterval = 1 + ((testlet - 1) * <%= @user_test.section.questions_per_testlet %>);
				
					for (i=0; i<<%= @user_test.section.questions_per_testlet %>; i++) {
						if (questionNumber+1+i <= testlet * <%= @user_test.section.questions_per_testlet %>) {
							if($("#page"+(questionNumber+1+i)+" a").hasClass("answered")) {
								continue;
							} else {
								nextQuestion = (questionNumber+1+i);
								break;
							} // if the question is unanswered
						} // if the question < 30
						else {
							if($("#page"+curInterval+" a").hasClass("answered")) {
								curInterval++;
								continue;
							} else {
								nextQuestion = (curInterval);
								break;
							}
						} // else

					} // for 
			
			getQuestionJSON(nextQuestion);
			
			// Gray the current question
			$("#page"+questionNumber+" a").addClass("answered");
			
			} // if it's not the last question
			
			else {
				$("#page"+questionNumber+" a").addClass("answered");
				$(".correctAnswersModal span").text($(".correctAnswers").text());
				$(".wrongAnswersModal span").text($(".wrongAnswers").text());
				$(".answered").removeClass("answered");
				
				if (testlet < 3) {
				$("#endTestlet .testletNumber").text(testlet);
				$("#endTestlet .testletNumberPlusOne").text(testlet+1);
				$("#endTestlet").modal();
				} else {
					window.location = "/user_test/finish";
				} // if the test is over
				
			} // if it is the last question
			
		} // if an answer is selected
		
	}); // click
	
}); // load

currentQuestionOnLoad();
</script>

<%= render 'test_greetings' %>

<div id="contentArea">
	
	<section id="questionContent">
		
		<%= render 'question_box' %>
		
		<%= render 'right_sidebar' %>
			
	</section> <!-- questionContent -->
	
<%= render 'pagination' %>		
	
</div>	<!-- contentArea -->