<section id="pagination" class="clearfix pagination">
  <ul>
    <% @questions.each_with_index do |question, index| %>
      <li>
        <span id="page<%= index+1 %>" class="page">
          <a id="<%= question.id %>" class="<%= "single_digit " if index < 9 %><%= "currentQuestion" if index == 0 %>" href="<%= "?question=#{question.id}" %>" data-remote="true"><%= index+1 %></a>
        </span>
      </li>  
    <% end %>  
  </ul>  
</section> <!-- pagination -->  