<div id="questionBox">
	<div id="questionText">
		<%= raw @questions.first.question_text %>
	</div> <!-- questionText -->
	<hr />
	<div id="answers">
		<%= form_tag("/topic/2", :remote => true) do %>
		<%= hidden_field_tag 'question_number' %>
		<ol class="choices">
		<% @questions.first.answers.each_with_index do |choice, index| %>
		<li><input type="radio" name="answer" id="choice<%= index+1 %>" value=<%= choice.correct? ? "correct" : "wrong" %> /><a><label for="choice<%= index+1 %>"><%= choice.answer_text %></label></a></li>
		<% end %>
		</ol>
		<hr />
		<%= submit_tag 'Submit', :class => 'submit' %>
		<% end %>
	</div> <!-- answers -->		
</div> <!-- questionBox -->