<style>

.examSection {
	width: 100%;
	height: 150px;
	border: 1px solid #c8d7dc;
	padding: 0	px;
	background-color: rgb(242,245,246);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	font-family: 'Marmelad';
	cursor: pointer;
}

.examSection img {
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}

.examSection div {
	position: absolute;
	right: 0px;
	top: 0px;
}

.examSection span {
	position: relative;
}

.examSection h4.number {
	color: red;
	font-weight: bold;
	font-size: 75px;
	position: absolute;
	top: 40px;
	right: 32px;
	z-index: 2;
	text-shadow: 5px 5px 5px black;

}

.examSection h4.date {
	color: red;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	top: 40px;
	right: 32px;
	z-index: 2;
	text-shadow: 5px 5px 10px black;

}

.notPassed {
	opacity: .4;
}

.scoreInput {
	width: 100px;
}
</style>

<script>
$(function() {
	$("#navMyProfile").addClass("active");
	$(".hidden").hide();
});

$(function() {
	$(".datepicker").datepicker({dateFormat: "yy-mm-dd", minDate: new Date() });
});

$(function() {
	$(".addDate").on("click", function(e) {
		$(e.target).fadeOut('fast', function() {
			$(e.target).parent().parent().find(".setDateSubmit").fadeIn('fast');
			$(e.target).parent().parent().find(".datepicker").fadeIn('fast');
		});
	});
	
	$(".addScore").on("click", function(e) {
		$(e.target).fadeOut('fast', function() {
			$(e.target).parent().parent().find('.setScoreSubmit').fadeIn('fast');
			$(e.target).parent().parent().find('.scoreInput').fadeIn('fast');
		});
	});
});
</script>

<h2><%= @user.sections_passed %></h2>

<% @sections.each_with_index do |section, index| %>
<div class="examSection">
	<%= form_tag user_url(@user) do %>
	<input type="hidden" name="section" value="<%= section.code %>" />
	<table><tbody>
	<tr><td><%= button_tag 'Add Exam Date', :class => "btn btn-inverse addDate", :type => "button" %>
	<%= submit_tag 'Set Date', :class => "btn btn-inverse setDateSubmit hidden" %></td>
	<td><input name="exam_date" class="datepicker hidden" /></td></tr>
	
	<tr><td><%= button_tag 'Report A Score', :class => "btn btn-inverse addScore", :type => "button" %>
	<%= submit_tag 'Submit Score!', :class => "btn btn-inverse setScoreSubmit hidden" %></td>
	<td><input name="exam_score" class="scoreInput hidden" /></td></tr>
	</tbody></table>
	<% end %>
	
	<% if @user.score(section.code) < 75  %>
		<% if @user.exam_date(section.code) %>
		<div><span>
		<h4 class="date"><%= @user.exam_date(section.code).strftime("%B%e") %></h4>	
		<%= image_tag "#{section.code}_logo.jpg", :class => "notPassed" %>
		</span></div>
		<% else %>
		<div><%= image_tag "#{section.code}_logo.jpg", :class => "notPassed" %></div>
		<% end %>
	
	<% else %>
	<div><span>
		<h4 class="number"><%= @user.score(section.code) %></h4>	
		<%= image_tag "#{section.code}_logo.jpg" %>
	</span></div>
	<% end %>
	
</div>
<% end %>	

<div id="recentTests">
<h2>Recent Tests</h2>

<ul>
<% @user_tests.each do |test| %>
<li><%= "#{test.section.code}: #{test.score} | #{time_ago_in_words(test.updated_at)}" %></li>
<% end %>
</ul>
</div>