<script>
$(function() {
	$("#navMyProfile").addClass("active");
});

$(function() {
	$(".datepicker").datepicker({dateFormat: "yy-mm-dd"});
});
</script>

This is the show page for <%= @user.username %>

<h2>Recent Tests</h2>

<ul>
<% @user_tests.each do |test| %>
<li><%= "#{test.section.code}: #{test.score} | #{time_ago_in_words(test.updated_at)}" %></li>
<% end %>
</ul>

<% @sections.each do |section| %>
	<%= form_tag user_url(@user) do %>
	<input type="hidden" name="section" value="<%= section.code %>" /> 
	<a class="<%= section.code %>"><%= image_tag "#{section.code}_logo.jpg" %></a>
	<input name="exam_date" class="datepicker" />
	<%= submit_tag 'Set Date' %>
	<input name="exam_score" />
	<%= submit_tag 'Report Score' %>
	<% end %>
<% end %>	