<style>

.examSection h4.number {
	color: red;
	font-weight: bold;
	font-size: 75px;
	position: absolute;
	top: 40px;
	right: 32px;
	z-index: 2;
	text-shadow: 5px 5px 5px black;

}

#scoreTable {
	width: 300px;
}

.status {
	font-size: 18px;
	margin-left: 20px;
}

/* JDL Styles
====================== */

.container {
	margin-top: 25px;
}

.hidden {
	display: none;
}

.inline {
	display: inline;
}

.block {
	display: block;
	margin: 20px 0;
}
</style>

<script>
$(function() {
	$("#navMyProfile").addClass("active");
});

$(function() {
	$(".datepicker").datepicker({dateFormat: "yy-mm-dd", minDate: new Date() });
});

$(function() {
	$("#addDate").on("click", function() {
		$("#addDateForm").slideToggle();
	});
	$("#addScore").on("click", function() {
		$("#addScoreForm").slideToggle();
	});
});
</script>

<h2><%= @user.username %> (<%= @user.university %>)</h2>

<table id="scoreTable" class="table table-bordered">
	<% @sections.each do |section| %>
		<tr>
			<td><%= image_tag "#{section.code.upcase}_logo.jpg", size: "75x75" %></td>
			<% if @user.passed_section?("#{section.code}") %>
			<td><%= @user.score("#{section.code}") %></td>
			<% elsif @user.exam_date("#{section.code}").present? %>
			<td><%= @user.exam_date("#{section.code}").strftime("%B %eth") %></td>
			<% else %>
			<td>?</td>
			<% end %>
	<% end %>
</table>	

<button id="addDate" class="btn btn-inverse block">Add Exam Date</button>
	<%= form_tag user_url, :id => 'addDateForm', :class => 'hidden' do %>
	<table><tr>
	<td><%= select_tag 'section', options_from_collection_for_select(@sections, "code", "code") %></td></tr>
	<tr><td><input name="exam_date" class="datepicker" /></td>
	<td><%= submit_tag 'Add Date', :id => 'addDateSubmit', :class => 'btn btn-inverse' %></td>
	</tr></table>
	<% end %>
<button id="addScore" class="btn btn-inverse block">Report Exam Score</button>
	<%= form_tag user_url, :id => 'addScoreForm', :class => 'hidden' do %>
	<table><tr>
	<td><%= select_tag 'section', options_from_collection_for_select(@sections, "code", "code") %></td></tr>
    <tr><td><input type="text" name="exam_score" /></td>
	<td><%= submit_tag 'Add Score', :id => 'addScoreSubmit', :class => 'btn btn-inverse' %></td>
	</tr></table>
	<% end %>

<div class="hidden" id="recentTests">
<h2>Recent Tests</h2>

<ul>
<% @user_tests.each do |test| %>
<li><%= "#{test.section.code}: #{test.score} | #{time_ago_in_words(test.updated_at)}" %></li>
<% end %>
</ul>
</div>