<style>
#contentWrapper {
	min-width: 960px;
	position: relative;
	margin: 0 auto;
}

#state_selection_table th {
	text-align: center;
	font-family: "Helvetica";
	font-size: 18px;
}

#state_selection_table td {
	text-align: center;
}

</style>

<script>
$(function() {
	$("#navInfo").addClass("active");
});

$(function() {
	$("#state_selection_table a").click(function() {
		var selected_state = $(this).attr("class");
		$("#"+selected_state).modal();
	});
});
</script>


<div id="contentWrapper">
	<table id='state_selection_table' class='table table-striped table-bordered'>
	<thead><tr><th colspan='3'>State Licensure and Application Information</th></tr></thead>
	<tbody>	
	<% @states.each_with_index do |state, index| %>
		<% if index % 3 == 0 %>
		<tr><td><a href="#" class='<%= state.abbr %>'><%= state.name %></a></td>
		<% elsif index % 3 == 0 || index == 50 %>
		<td><a href="#" class='<%= state.abbr %>'><%= state.name %></a></td></tr>
		<% else %>
		<td><a href="#" class='<%= state.abbr %>'><%= state.name %></a></td>
		<% end %>
	<% end %>	
	</tbody>		
	</table>
</div> <!-- contentWrapper -->	

<% @states.each do |state| %>
  <div id='<%= state.abbr %>' class='modal hide fade'>
		<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Get Licensed in <%= state.name %></h3>
		</div>
		
		<div class="modal-body">
		<h4><%= state.board_name %></h4>
		<p><%= state.address %></p>
		<p>Telephone Number: <%= state.telephone_number %></p>
		<p>Fax Number: <%= state.fax_number %></p>
		<p>Email: <%= state.email_address %></p>
		<p>Website: <%= state.website %></p><hr />
		<h4>Licensure Requirements</h4>
		<p><strong>Education Requirement:</strong> <%= state.education_requirement %></p>
		<p><strong>Hours Requirement:</strong> <%= state.hours_requirement %></p>
		<p><strong>Sitting Requirement:</strong> <%= state.sitting_requirements %></p>
		<p><strong>Experience Requirement:</strong> <%= state.experience_requirements %></p>
		<p><strong>Ethics Requirement:</strong> <%= state.ethics_requirements %></p><hr />		
		<h4>Other Licensure Requirements</h4>
		<p>Age Requirement: <%= state.age_requirement > 0 ? state.age_requirement : "None" %></p>
		<p>Citizenship Requirement: <%= state.citizenship_requirement %></p>
		<p>Residency Requirement: <%= state.residency_requirement %></p>
		<p>Social Security # Requirement: <%= state.ssn_requirement %></p>
		<p>International Examination Program: <%= state.international_examination_program %></p><hr />
		<h4>Notes</h4>
		<p><%= state.notes %>
		</div>
		
		<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>	
	</div>
<% end %>