<style>
#full_info_table {
	display: none;
}

#contentWrapper {
	min-width: 960px;
	position: relative;
	margin: 30px auto 0 auto;
}

#stateList {
	float: left;
	width: 200px;
}

#contentArea {
	width: 700px;
	float: right;
}

/* Table Styles
===================== */

#contentTable td {
	height: 25px;
	position: relative;
}

#contentTable th {
	width: 135px;
	background: #404853;
  	background: linear-gradient(#687587, #404853);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
 	color: #fff;
	font-size: 11px;
	padding: 9px 8px 7px 8px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}

#contentTable td:last-child {
	border-right: 1px solid #c6c9cc;
}

#contentTable td p {
	margin-left: 20px;
	color: #404853;
	position: relative;
	line-height: 25px;
}

#contentTable tr:first-child p {
	font-weight: bold;
	font-size: 20px;
	margin-left: 0;
	text-align: center;
}

/* Shay Howe CSS
===================== */
table {
  border-collapse: separate;
  border-spacing: 0;
}

tbody td {
  border-bottom: 1px solid #c6c9cc;
  border-left: 1px solid #e4e7eb;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

tr:nth-child(odd) {
	background-color: #e8eae9;
	border-left: 1px solid #d5d8db;
}

/* JDL Classes
===================== */
.highlight {
	background-color: #FF0;
	cursor: pointer;
}

tr.striped {
	background-color: #e8eae9;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7faf9), to(#e8eae9)); 
	  background-image: -webkit-linear-gradient(top, #f7faf9, #e8eae9); 
	  background-image:    -moz-linear-gradient(top, #f7faf9, #e8eae9);
	  background-image:      -o-linear-gradient(top, #f7faf9, #e8eae9); 
	  background-image:         linear-gradient(to bottom, #f7faf9, #e8eae9);
	border-left: 1px solid #d5d8db;
}
</style>

<script>
$(function() {
	$("#state_selection_table a").click(function() {
		var selected_state = $(this).attr("class");
		$("#contentTable").html("");
		var table_html = $("tbody." + selected_state).html();						
		$("#contentTable").html(table_html);	
	});
});
</script>

<h1>State Licensure and Application Information</h1>

<div id="contentWrapper">
	<div id='stateList' class='leftSide'>
	<table id='state_selection_table'>
	<% @states.each do |state| %>
		<tr>
			<td><a href="#" class='<%= state.abbr %>'><%= state.name %></a></td>
		</tr>
	<% end %>			
	</table>
	</div> <!-- stateList -->

	<div id='contentArea' class='rightSide'>
		<table id='contentTable'>
		</table>	
	</div> <!-- contentArea -->	
</div> <!-- contentWrapper -->	

<table id='full_info_table'>
<% @states.each do |state| %>
  <tbody class='<%= state.abbr %>'>
	<tr><th>State</th><td><p><%= state.name %></p></td></tr>
	<tr><th>Accounting Board</th><td><p><%= state.board_name %></p></td></tr>
	<tr><th>Address</th><td><p><%= state.address %></p></td></tr>
	<tr><th>Telephone Number</th><td><p><%= state.telephone_number %></p></td></tr>
	<tr><th>Fax Number</th><td><p><%= state.fax_number %></p></td></tr>
	<tr><th>Email</th><td><p><%= state.email_address %></p></td></tr>
    <tr><th>Age Requirement</th><td><p><%= state.age_requirement > 0 ? state.age_requirement : "None" %></p></td></tr>
    <tr><th>Citizenship Requirement</th><td><p><%= state.citizenship_requirement %></p></td></tr>
    <tr><th>Residency Requirement</th><td><p><%= state.residency_requirement %></p></td></tr>
    <tr><th>Social Security # Requirement</th><td><p><%= state.ssn_requirement %></p></td></tr>
    <tr><th>Education Requirement</th><td><p><%= state.education_requirement %></p></td></tr>
    <tr><th>International Examination Program</th><td><p><%= state.international_examination_program %></p></td></tr>
    <tr><th>Hours Requirement</th><td><p><%= state.hours_requirement %></p></td></tr>
    <tr><th>Sitting Requirement</th><td><p><%= state.sitting_requirements %></p></td></tr>
    <tr><th>Experience Requirement</th><td><p><%= state.experience_requirements %></p></td></tr>
    <tr><th>Ethics Requirement</th><td><p><%= state.ethics_requirements %></p></td></tr>
    <tr><th>Notes</th><td><p><%= state.notes %></p></td></tr>
  </tbody>
<% end %>
</table>