<div id="farStats" class="hidden">
<% if @user %>
	<% if @user.passed_section?("FAR") %>
	<p class="passScore">Passed: <%= @user.far_score %></p>
	<% elsif @user.exam_date("FAR").present? %>
	<p class="examDate"><%= @user.far_date.strftime("%B %e") %></p>
	<% end %>
<% end %>	
</div>

<div id="regStats" class="hidden">
<% if @user %>
	<% if @user.passed_section?("REG") %>
	<p class="passScore">Passed: <%= @user.reg_score %></p>
	<% elsif @user.exam_date("REG").present? %>
	<p class="examDate"><%= @user.reg_date.strftime("%B %e") %></p>
	<% end %>
<% end %>	
</div>

<div id="becStats" class="hidden">
<% if @user %>
	<% if @user.passed_section?("BEC") %>
	<p class="passScore">Passed: <%= @user.bec_score %></p>
	<% elsif @user.exam_date("BEC").present? %>
	<p class="examDate"><%= @user.bec_date.strftime("%B %e") %></p>
	<% end %>
<% end %>
</div>

<div id="audStats" class="hidden">
<% if @user %>
	<% if @user.passed_section?("AUD") %>
	<p class="passScore">Passed: <%= @user.aud_score %></p>
	<% elsif @user.exam_date("AUD").present? %>
	<p class="examDate"><%= @user.aud_date.strftime("%B %e") %></p>
	<% end %>
<% end %>	
</div>				