<style>

.section {
	width: 100%;
	height: 150px;
	border: 1px solid #c8d7dc;
	padding: 0	px;
	background-color: rgb(242,245,246);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	font-family: 'Marmelad';
}

.section img {
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	
}

.section h3 {
	padding-left: 25px;
}

#sectionContainer {
	position: relative;
}

.section button {
	margin: 10px 20px;
	font-weight: bold;
}

#contentArea {
	height: 450px;
	width: 100%;
	display: none;
	background-color: rgb(242,245,246);
	border: 1px solid #c8d7dc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* JDL STYLES
==================== */

.hover-highlight {}

.hidden {
	display: none;
}

</style>

<script>
$(function() {
	$("#navSections").addClass("active");
});
</script>

<script>
$(function() {
	$(".section img").hover(function() {
		$(this).addClass("hover-highlight");
		$(".section img:not('.hover-highlight')").stop().animate({ opacity: .4 }, 300);
	}, function() {
		$(this).removeClass("hover-highlight");
		$(".section img").stop().animate( { opacity: 1 }, 300);
	});
});

var slideCounter = 0;
$(function() {
	$(".section img").on("click", function(e) {
		e.preventDefault();
		var sectionCode = $(this).parent().attr("class");
		$("#contentArea").html($("mark."+sectionCode).html());
		var i = 0;
			if (slideCounter % 2 == 0) {
			$("div.section").not("#"+sectionCode).slideToggle(function() {
				i++; i == 3 ? $("#contentArea").slideToggle() : "";
				slideCounter++;
			});
			} else {
				$("#contentArea").slideToggle(function() {
				$("div.section").not("#"+sectionCode).slideToggle();	
				slideCounter++;
				});
			} // else
	});
});
</script>

<div id="sectionContainer">
<% @sections.each do |section| %>
  <div id="<%= section.code %>" class="section">
	<h3><%= section.name %></h3>
	<a href="/sections/<%= section.code %>?quiztype=topics"><button class="btn btn-inverse">Individual Topics</button></a>
	<a href=""><button class="btn btn-inverse">Full Length Test</button></a>
	<a href="/sections/<%= section.code %>?quiztype=random"><button class="btn btn-inverse">Random Questions</button></a>
	<a class="<%= section.code %>"><img src="assets/<%= section.code %>_logo.jpg" /></a>
  </div> <!-- section -->
<% end %>
</div> <!-- sectionContainer -->

<div id="contentArea">
	
</div>	

<section class="hidden">
	<mark class="FAR">
		<table class="table"><tbody>
		<tr><td>90 Multiple Choice</td><td>7 Task Based Simulations</td><td>4 Hours</td>	
		<tr><td>Section 1</td><td>Conceptual Framework, Standards, Standard Setting, Presentation of the Financial Statements</td><td>17-23%</td></tr>
		<tr><td>Section 2</td><td>Financial Statement Accounts: Recognition, Measurement, Valuation, Calculation, Presentation, Disclosures</td><td>27-33%</td></tr>
		<tr><td>Section 3</td><td>Specific Transactions, Events, and Disclosures: Recognition, Measurement, Valuation, Calculation, Presentation, and Disclosures</td><td>27-33%</td></tr>
		<tr><td>Section 4</td><td>Governmental Accounting and Reporting</td><td>8-12%</td></tr> 
		<tr><td>Section 5</td><td>Not-for-profit Accounting and Reporting</td><td>8-12%</td></tr>	
		</tbody>
	</table></mark>		
	<mark class="REG">
		<table class="table"><tbody>
		<tr><td>72 Multiple Choice</td><td>7 Task Based Simulations</td><td>3 Hours</td>		
		<tr><td>Section 1</td><td>Ethics, Professional, and Legal Responsibilities</td><td>15-19%</td></tr>
		<tr><td>Section 2</td><td>Business Law</td><td>17-21%</td></tr>
		<tr><td>Section 3</td><td>Federal Tax Process, Procedures, Accounting, and Planning</td><td>11-15%</td></tr>
		<tr><td>Section 4</td><td>Federal Taxation of Property Transactions</td><td>12-16%</td></tr> 
		<tr><td>Section 5</td><td>Federal Taxation of Individuals</td><td>13-19%</td></tr>	
		<tr><td>Section 6</td><td>Federal Taxation of Entities</td><td>18-24%</td></tr>	
		</tbody>
	</table></mark>
	<mark class="BEC">
		<table class="table"><tbody>
		<tr><td>72 Multiple Choice</td><td>7 Task Based Simulations</td><td>3 Hours</td>		
		<tr><td>Section 1</td><td>Corporate Governance</td><td>16-20%</td></tr>
		<tr><td>Section 2</td><td>Economic Concepts and Analysis</td><td>16-20%</td></tr>
		<tr><td>Section 3</td><td>Financial Management</td><td>19-23%</td></tr>
		<tr><td>Section 4</td><td>Information Systems and Communications</td><td>15-19%</td></tr> 
		<tr><td>Section 5</td><td>Strategic Planning</td><td>10-14%</td></tr>	
		<tr><td>Section 6</td><td>Operations Management</td><td>12-16%</td></tr>	
		</tbody>
	</table></mark>	
	<mark class="AUD">
		<table class="table"><tbody>
		<tr><td>90 Multiple Choice</td><td>7 Task Based Simulations</td><td>4 Hours</td>		
		<tr><td>Section 1</td><td>Engagement Acceptance and Understanding the Assignment</td><td>12-16%</td></tr>
		<tr><td>Section 2</td><td>Understanding the Entity and Its Environment (including Internal Control)</td><td>16-20%</td></tr>
		<tr><td>Section 3</td><td>Performing Audit Procedures and Evaluating Evidence</td><td>16-20%</td></tr>
		<tr><td>Section 4</td><td>Evaluating Audit Findings, Communications, and Reporting</td><td>16-20%</td></tr> 
		<tr><td>Section 5</td><td>Accounting and Review Services Engagements</td><td>12-16%</td></tr>
		<tr><td>Section 6</td><td>Professional Responsibilities</td><td>16-20%</td></tr>
	</table></mark>	
</section>	