<script>
$(function() {
	$("#navSections").addClass("active");
});

$(function() {
	$("#subHeaderWrapper").html($("#subHeaderHTML").html());
});

// Slide Toggle to show section info on a click to a section image
var slideCounter = 0;
$(function() {
	$(".section img").on("click", function(e) {
		e.preventDefault();
		var sectionCode = $(this).parent().attr("class");
		$("#contentAreaRight").html($("mark."+sectionCode).html());
		 var i = 0;
		 	if (slideCounter % 2 == 0) {
			$("div.section").not("#"+sectionCode).stop().slideToggle(function() {
				i++; i == 3 ? $("#contentAreaRight").stop().slideToggle() : "";
		 		slideCounter++;
		 	});
		 	} else {
				$("#contentAreaRight").stop().slideToggle(function() {
				$("div.section").not("#"+sectionCode).stop().slideToggle();	
				slideCounter++;
				});
			}
	}); // on
}); // load

// Trigger the image click on clicks to the parent div, and heading element as well
$(function() {
	$("div.section").on("click", function(e) { $(e.target).find('img').trigger("click"); });
	$("div.section h3").on("click", function(e) { $(e.target).parent().find('img').trigger("click"); });
	
});
</script>	

<div id="leftSide">
	
	<% if !session[:user_id] %>	
	<div id="signUp">
	<h3 class="alert alert-info">Create an account to start studying</h3>
	<%= render 'signUp' %>
	</div>
	<% else %>
	<div id="signUp">
	<h3 class="alert alert-info">Stats for <%= @user.username %></h3>	
	</div>
	<% end %>

</div>	

<div id="rightSide">

	<div class="sectionContainer">
	<% @sections.each_with_index do |section, index| %>
	  <div id="<%= section.code %>" class="section">
		<h3><%= section.name %></h3>
		<a href="/sections/<%= section.code %>"><button class="btn">Individual Topics</button></a>
		<%= link_to button_tag("Full Length Test", :class => 'btn'), "/user_test?section_id=#{section.id}", :method => 'post' %></a>
		<a class="<%= section.code %>"><img src="assets/<%= section.code %>_logo.jpg" /></a>
	  </div> <!-- section -->
	<% end %>
	</div> <!-- sectionContainer -->

	<div id="contentAreaRight"></div>

</div> <!-- rightSide -->

<%= render 'subHeader' %>
<%= render 'section_info' %>
<%= render 'section_stats' %>