<div id="leftSide">
	
	<% if !session[:user_id] %>	
	<div id="signUp">
	<h3 class="alert alert-info">Create an account to start studying</h3>
	<%= render 'signUp' %>
	</div>
	<% else %>
	<div id="sectionStats">
	<h3 class="alert alert-info">Stats for <%= @user.username %></h3>
	<%= render 'section_stats' %>	
	</div>
	<% end %>

</div>	

<div id="rightSide">

	<div class="sectionContainer">
	<% @sections.each_with_index do |section, index| %>
	  <div id="<%= section.code %>" class="section">
		<h3><%= section.name %></h3>
		<a href="/sections/<%= section.code %>"><button class="btn">Individual Topics</button></a>
		<%= link_to button_tag("Full Length Test", :class => 'btn'), "/user_test?section_id=#{section.id}", :method => 'post' %></a>
		<a class="<%= section.code %>"><img src="assets/<%= section.code %>_logo.jpg" /></a>
	  </div> <!-- section -->
	<% end %>
	</div> <!-- sectionContainer -->

	<div id="contentAreaRight"></div>

</div> <!-- rightSide -->

<div id="subHeaderHTML" class='hidden'>
	<h3>CPA Revolution</h3>
	<h4>Create full length CPA practice tests at the click of a button</h4>
</div>

<%= render 'section_info' %>