<style>

#quizSetup {
	width: 100%;
	height: 500px;
	border: 1px solid #c8d7dc;
	background-color: rgb(242,245,246); // Old browsers
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

#topicsTable td {
	position: relative;
	cursor: pointer;
}

#topicsTable label {
	cursor: pointer;
	display: inline;
}

#topicsTable input {
	position: absolute;
	right: 10px;
	top: 8px;
}

#topicsTable tr:last-child td {
	text-align: center;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
</style>

<script>
$(function() {
	$("#navSections").addClass('active');
});

// Check boxes on clicks to the td element
$(function() {
	$("#topicsTable td").on("click", function(e) {
		$(e.target).find("input").trigger("click");
	});
});

// Activate the select all and unselect all buttons
$(function() {
	$("#selectAll").on("click", function(e) {
		$(e.target).parents('#topicsTable').find('input').attr('checked', true);
		$('input').trigger('change');
	});
	$("#unselectAll").on("click", function(e) {
		$(e.target).parents('#topicsTable').find('input').attr('checked', false);
		$('input').trigger('change');
	});
});

// Color the background green when the box is checked, red when it isn't
$(function() {
	$("#topicsTable input").on("change", function(e) {
		$(e.target).is(':checked') ? $(e.target).parent().addClass("label label-success") : $(e.target).parent().removeClass("label label-success");
	});
});
</script>

<p id="notice"><%= notice %></p>

<h2><%= @section.name %></h2>
<br />

	<div id="quizSetup">
		<%= form_tag '/user_test' do %>
		<%= hidden_field_tag :section_id, @section.id %>
		<table id="topicsTable" class="table table-bordered">
			<tbody>
				<% @section.topics.each_with_index do |topic, index| %>
					<% case index % 4 %>
						<% when 0 %>
							<tr><td><%= label_tag "#{topic.code}", "#{topic.name}" %>
								<%= check_box_tag("topics", "#{topic.code}", checked = false, :id => "#{topic.code}") %></td>
						<% when 1 %>
						    <td><%= label_tag "#{topic.code}", "#{topic.name}" %>
							<%= check_box_tag("topics", "#{topic.code}", checked = false, :id => "#{topic.code}") %></td>
						<% when 2 %>
							<td><%= label_tag "#{topic.code}", "#{topic.name}" %>
							<%= check_box_tag("topics", "#{topic.code}", checked = false, :id => "#{topic.code}") %></td>
						<% when 3 %>	
							<td><%= label_tag "#{topic.code}", "#{topic.name}" %>
							<%= check_box_tag("topics", "#{topic.code}", checked = false, :id => "#{topic.code}") %></td></tr>
					<% end %>
				<% end %>
				<tr><td><%= button_tag('Select All', :type => 'button', :id => 'selectAll', :class => 'btn btn-success') %></td>
					<td><%= button_tag('Unselect All', :type => 'button', :id => 'unselectAll', :class => 'btn btn-danger') %></td>
					<td colspan='2'><%= button_tag('Practice Topics', :id => 'practiceTopics', :class => 'btn btn-inverse') %></td></tr>
			</tbody>
		</table>			
		<% end %>
	</div> <!-- quizSetup -->
