$(".journalEntry").hide();

var numberOfShares = <%= @numberOfShares %>
var parValue = <%= @parValue %>
var marketPrice = <%= @marketPrice %>
var nextPagination = $("#paginationUl li").length + 1

var journalEntry = ""
journalEntry += "<table id='journalEntry"+nextPagination+"' class='table journalEntry'>";
journalEntry += "<tr><th colspan='4'>[Entry "+nextPagination+"] Stock Issue: "+numberOfShares+" shares (Par Value: $"+parValue+") issued at $"+marketPrice+"</th></tr>"; 
journalEntry += "<tr><td>Cash</td><td class='label label-success'><%= number_to_currency @cash, :precision => 0 %></td><td></td><td></td></tr>";

<% if @issueCosts > 0 %>
journalEntry += "<tr><td>Issue Costs</td><td class='label label-success'><%= number_to_currency @issueCosts, :precision => 0 %></td><td></td><td></td></tr>";
<% end %>

<% if @discount %>
journalEntry += "<tr><td>Discount</td><td class='label label-success'><%= number_to_currency @discount, :precision => 0 %></td><td></td><td></td></tr>";
<% end %>

journalEntry += "<tr><td></td><td></td><td><%= @stockType %></td><td class='label label-important'><%= number_to_currency @stockCredit, :precision => 0 %></td></tr>";

<% if @APIC %>
journalEntry += "<tr><td></td><td></td><td>Additional Paid in Capital</td><td class='label label-important'><%= number_to_currency @APIC, :precision => 0 %></td></tr>";
<% end %>

journalEntry += "</table>";

$("#journalEntries").append(journalEntry);
$("#paginationUl").append("<li class='paginationLi' data-pagination='"+nextPagination+"'><a>"+nextPagination+"</a></li>");
$("#sharesOutstanding").html(<%= @sharesOutstanding %>);
$("#issueSharesOutstanding").val(<%= @sharesOutstanding %>);

$("#issueStockTable").animate({opacity: 0}, 500).hide(100, function() {
	$("#chooseNextAction").show().animate({opacity: 1}, 500);
});

if($("#otherActions").hasClass("immune") == false) {
	$("#otherActions").slideToggle(function() {
		$("#otherActions").addClass("immune");
		$("#sharesOutstandingDiv").slideToggle(function() {
			$("#sharesOutstandingDiv").addClass("immune");
			});
	});
}