<style>

li, a {
	cursor: pointer;
}

.container {
	width: 900px;
	height: 100px;
	padding-left: 150px;
	margin-top: 25px;
}

#subHeader {
	position: relative;
	left: 0px;
	height: 100%;
	width: 250px;
	float: left;
	padding-left: 25px;
}

#bottomArea {
	position: absolute;
	bottom: 100px;
	left: 25%;
}

#subHeader h2 {
	margin-top: 25px;
	text-align: center;
}

#subHeader h3 {
	text-align: center;
}

#subHeader button {
	position: relative;
	display: block;
	margin: 10px auto 0 auto;
}

#otherActions, #sharesOutstandingDiv, #sharesInTreasuryDiv {
	display: none;
}

#chooseNextAction {
	margin-top: 25px;
	display: none;
	opacity: 0;
}

#chooseNextAction h1 {
	text-align: center;
}

.label {
	font-size: 16px;
	text-shadow: 3px 3px 3px #333;
}

.journalEntry {
	min-width: 750px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
	background-color: transparent;
}

.journalEntry tbody tr:hover td,
.journalEntry tbody tr:hover th {
  background-color: transparent;
  color: #000;
  text-shadow: none;
}

.defaultDisabled {
	background-color: #999;
}
</style>

<script>	
var $subHeader = $("#subHeader");
$subHeader.append("<h2>Available Actions</h2>");
$subHeader.append("<button id='issueStockButton' class='btn btn-inverse'>Issue Stock</button>");
$subHeader.append("<div id='otherActions'><button id='buyBackStockButton' class='btn btn-inverse'>Buy Back Stock</button><button id='declareDividendButton' class='btn btn-inverse'>Declare Dividend</button><button id='splitStockButton' class='btn btn-inverse'>Split Stock</button><button id='calculateEPSButton' class='btn btn-success'>Calculate EPS</button><button id='generateSEStatement' class='btn btn-success'>Generate Statement of SE</button></div>");
$subHeader.append("<div id='sharesOutstandingDiv'><h2>Shares Outstanding</h2><h3 id='sharesOutstanding'>0</h3></div>");
$subHeader.append("<div id='sharesInTreasuryDiv'><h2>Shares In Treasury</h2><h3 id='sharesInTreasury'>0</h3></div>");

var $bottomArea = $("#bottomArea");
$bottomArea.append("<div id='journalEntries'></div>");
$bottomArea.append("<div id='paginationArea' class='pagination'><ul id='paginationUl'></ul></div>");

$(function() {
	
$("")

$(document).on("click", "#issueStockButton", function() {
	$("#chooseNextAction").animate({opacity: 0}, 500).hide(100, function() {
		$("#issueStockTable input").not(".btn, #issueSharesOutstanding").val("");
		$("#issueStockTable").show().animate({opacity: 1},500);
	});
});

$(document).on("click", "#issueIssueCostsOn", function() {
	if($("#issueIssueCosts").attr("disabled")) {
		$("#issueIssueCosts").removeAttr("disabled");
		$(this).parent().parent().removeClass("defaultDisabled");
	} else {
		$("#issueIssueCosts").attr("disabled", "disabled");
		$(this).parent().parent().addClass("defaultDisabled");
	}
});

$(document).on("click", "#issueDateOn", function() {
	$(this).parent().parent().toggleClass("defaultDisabled");
});

$(document).on("click", "li.paginationLi", function() {
	var activeNumber = $(this).attr("data-pagination");
	$(".journalEntry").not("#journalEntry"+activeNumber).hide();
	$("#journalEntry"+activeNumber).show();
});

});
</script>

<div id='chooseNextAction' class='well well-large'>
<h1>Choose Another Action</h1>
</div>

<%= form_tag '/stock/issue', :id => 'issueStockForm', :remote => true do %>
<table id="issueStockTable" class="table table-bordered">
	<tr><th colspan='3'>Lets Issue Some Stock!</th></tr>
	<tr><td colspan='2'>Stock Type:</td><td><select id="issueStockType" name="issueStockType"><option value="commonStock">Common Stock</option><option value="preferredStockNoInformation">Preferred Stock - No Information</option><option value="preferredStockParticipating">Preferred Stock - Participating</option><option value="preferredStockCumulative">Preferred Stock - Cumulative</option><option value="preferredStockConvertible">Preferred Stock - Convertible</option><option value="preferredStockCallable">Preferred Stock - Callable</option></select></td></tr>
	<tr><td colspan='2'>Number of Shares</td><td><input id='issueNumberOfShares' name="issueNumberOfShares" type='text' class='medium' /></td></tr>
	<tr><td colspan='2'>Par Value</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueParValue' name="issueParValue" type='text' class='small' /></div></td></tr>
	<tr><td colspan='2'>Market Price per Share</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueMarketPrice' name="issueMarketPrice" type='text' class='small' /></div></td></tr>
	<tr class='defaultDisabled'><td><input id="issueIssueCostsOn" type="checkbox"><td>Issue Costs</td><td><div class="input-prepend"><span class="add-on">$</span><input id='issueIssueCosts' name="issueIssueCosts" type='text' class='small' disabled/></div></td></tr>
	<tr class='defaultDisabled'><td><input id="issueDateOn" type="checkbox"><td>Date of Issuance</td><td><%= select_month(1, :field_name => "issueDateMonth") %><select id="date_issueDateDay" name="date[issueDateDay]"><option value='1'>1</option><option value='15'>15</option><option value='30'>30</option></select><% year_array = (1..20).map {|i| "Year #{i}"} %><%= select_tag("date[issueDateYear]", options_for_select(year_array)) %></td></tr>
	<%= hidden_field_tag 'issueSharesOutstanding', '0' %>
	<tr><td colspan='3'><%= submit_tag 'Issue Stock', :class => 'btn btn-danger' %></td></tr>
</table>
<% end %>

