<!DOCTYPE html>
<html>
<head>
  <title>CPA Revolution - Practice CPA Exam Questions for Free</title>
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css" || "" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34024858-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<a class="brand" href='<%= root_path %>'>CPA Revolution</a>
	<div id="navWrapper">
      <ul class="jdlNav">
		<li id="navInfo"><%= link_to 'Exam Information', '/exam-information' %></li>
		<li id="navVideos"><%= link_to 'Videos', '/videos' %></li>
		<li id="navSandbox"><%= link_to 'Sandbox', '/sandbox' %></li>
		<li id="navForums"><%= link_to 'Forums', 'http://www.accountingsandbox.com/forums' %></li>
		<li id="navContact"><%= link_to 'Contact', '/contact' %></li>
		<% if session[:user_id].present? %>
		<li id="navSignOut" class="pull-right last"><%= link_to "Sign Out (#{User.find(session[:user_id]).username}) ", '/signout' %></li>
		<li id="navMyProfile" class="pull-right"><%= link_to "My Profile", user_url(User.find(session[:user_id])) %>
		<% else %>
		<li id="navSignIn" class="pull-right last"><%= link_to 'Sign In', '/signin' %></li>
		<li id="navSignUp" class="pull-right"><%= link_to 'Sign Up', '/users/new' %></li>
		<% end %>
      </ul>
	</div><!-- navWrapper -->
  </div>
</div>

<div id="subHeader">
	<div id="subHeaderWrapper">
	<% if flash[:notice] %>
	<p class="alert"><%= flash[:notice] %></p>
	<% end %>
	</div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>