<!DOCTYPE html>
<html>
<head>
  <title>CPA Magic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	  <a class="brand" href='<%= root_path %>'>CPA Revolution</a>

      <ul class="nav">
        <li id="navSections"><%= link_to 'Practice Exams', '/sections' %></li>
		<li id="navInfo"><%= link_to 'Exam Information', '/exam-information' %></li>
		<li id="navSandbox"><%= link_to 'Sandbox', '/sandbox' %></li>
		<li id="navForums"><%= link_to 'Forums', '#' %></li>
		<li id="navContact"><%= link_to 'Contact', '/contact' %></li>
		<% if session[:user_id].present? %>
		<li id="navSignOut"><%= link_to "Sign Out (#{User.find(session[:user_id]).username}) ", '/signout' %></li>
		<% else %>
		<li id="navSignIn"><%= link_to 'Sign In', '/signin' %></li>
		<li id="navSignUp"><%= link_to 'Sign Up', '/users/new' %></li>
		<% end %>
      </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
